* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
}

.links {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
}

.logo-links {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    padding: 5px 50px 5px 50px;

}

.introduction {
    display: flex;
}